  <%= render 'common/navigation' %>
  <section id = "home">
    <div class="row">
      <div class="container">
        <h1 id = "title" class="pos"> Donate directly to a homeless person in need. </h1>
      </div>
    </div>
  </section>