<%= render 'common/navigation' %>
<section id = "home">
  <div class="container">
    <div class="row">
      <h1 id = "school" class="pos"> Donate directly to a homeless person in need. </h1>
      <!-- <h1 id ="h1" class="pos">Give your child a head start for life .</h1> -->
    </div>
  </div>
</section>