* {
  margin:0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  /*margin-top: 50px;*/
}

#notice_wrapper {
  position: absolute;
  width: 100%;
  background: rgba(208, 103, 82, .85);
  z-index: 999;

  p {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
  }
}
#home {
  min-height: 100vh;
  background-image: image-url("man9.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: 100%;
}

.navbar-inverse {
  height: 50px;
  background-color: transparent;
  border-color: transparent;
  z-index: 99;
}

.navbar-black {
  height: 50px;
  background-color: #444;
  z-index: 0;
  }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-black .navbar-nav > .active > a, .navbar-black .navbar-nav > .active > a:hover, .navbar-black .navbar-nav > .active > a:focus, .navbar-black .navbar-nav > li > a {
  color: #fff;
}

.navbar-nav > li > a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-brand,.navbar-brand:hover,.navbar-brand:active,.navbar-brand:focus {
  color: #fff;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-brand {
  border: 1px solid #fff;
  padding: 5px 14px;
  height: 34px;
  margin-top: 7px;
  font-weight: bold;
}

.pos {
  position: relative;
  top: 36vh;
  color: #fff;
}

#title {
  margin-left: 9vw;
  font-size: 3em;
}

#h1 {
  font-family: 'Raleway', sans-serif;
}

.alert-success {
  margin-bottom:0;
}




