.project-box {
  padding: 12px 12px 25px 12px;
  border: 1px solid #eee;
}

.raised {
  margin-left: 7px;
  margin-right: 7px;
}

.projects-row {
  h3 {
    display: inline;
  }

  .project-title-button {
    margin: 7px 0 10px 0;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .donate-btn {
    background-color: transparent;
    color: #70c46f;
    border: 2px solid #70c46f;
    font-weight: bold;

    &:hover {
      background-color: #70c46f;
      color: #fff;
    }
  }

  .progress {
    margin-bottom: 9px;
  }
}

.show-project {
  .fa-check-circle-o {
    margin-left: 36vw;
    color: green;
  }

  .project-data-row {
    margin-top: 20px;
  }

  .project-image {
    border:1px solid #ddd;
    padding:20px;
  }

  .project-right-box {
    border:1px solid #ddd;
    padding:20px;
  }

  .donation-needed {
    color: #f0ad4e;
    font-weight: bold;
  }
}